@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #FBFADA;
  font-family: "PT Sans", sans-serif;
}

/* Navbar CSS */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px;
  height: 6.5vw;
  font-family: "Trade Winds", system-ui;
  font-family: 4.167vw;
  background-color:#436850;
  padding-left: 1vw ;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navLeft{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navRight{
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5vw;
  justify-content: space-evenly;
  width: 30vw;
}

.navLinks{
  text-decoration: none;
  color: white;
}

/* Banner CSS */

.banner{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 20vw;
  background-color:#99ab8a;
  border-radius: 7px;
  margin: 20px 15px 20px 15px;
  padding: 15px 15px 15px 20px;
  position: relative;
  animation: floatUpDown 3s infinite;
  box-shadow: 0 0 20px rgb(146, 163, 130)
}

.bannerShoeimg{
  height: 20vw;
  width: 17vw;
}

.bannerText{
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
  margin-bottom: 10px;
}

.bheading{
  font-size: 5vw;
}
.bdes{
  font-size: 2vw;
}

/* Up and Down Floating Animation */

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(1s);
  }
  50% {
    transform: translateY(-7px);
  } 
}

/* Explore Heading CSS */

.lines{
  margin: 0 6vw 0 6vw;
  margin-top: 10px;
}

.categoryHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.3vw;
  font-weight: 700;
  color: #12372A;
  text-shadow: 0 0 10px rgba(67, 104, 80, 0.418);
}

/* Categories Section */
.categories{
  background-color: #f4f4f4;
  height: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  border-radius: 20px;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ab{
  text-decoration: none;
  border: none;
}

.ab:focus {
  text-decoration: none;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Css for the Cards displaying data */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 51vw;
  background-color: #adbc9f99;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  padding: 7px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #12372A;
  padding: 10px 20px 10px 10px;
}

.cardImage{
  height: 15vw;
  width: 15vw;
  border-radius: 20px;
  padding: 10px;
  
}

.card:hover {
  transform: scale(1.02);
  background-color: #173f315b;
}


/* Name and Description in the card */
.nameAndDes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: wrap;
  padding: 0 0 20px 18px;
}

.nameAndDes h2{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 30px;
}

.nameAndDes p{
  font-size: 20px;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewButtonDiv{
  margin-right: 25px;
}

.rbtn {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  cursor: pointer;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  height:3vw;
}


.pAndM{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin-left: 18px;
  width: 16vw;
}



.blocks{
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

/* CSS for the review container on the review page */

.WholeReviewContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.reviewContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  background-color: #adbc9f99;
}

.reviewHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  font-size: 3.3vw;
  font-weight: 700;
  color: #12372A;
  text-shadow: 0 0 10px rgba(67, 104, 80, 0.418);
}


/* CSS for the input field on the Review Page */
.inputField{
  height: 2.8vw;
  border-radius: 10px;
  width: 42vw;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size:1.25vw;
  padding: 10px 10px 10px 18px;
  
}

/* css for the comment button */

.commentBtn {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  font-size: 18px;
}

.commentBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.commentBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.commentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #adbc9f99;
  height: 10vw;
  padding: 4px 10px 4px 10px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 0 30px 0;

}
.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 0 10px 15px;
  background-color: white;
  width: 60vw;
  height: 8.8vw;
  border-radius: 10px 0px 0px 10px ;
  box-shadow: 
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px, rgba(0, 0, 0, 0.16) 0px -3px 6px,rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.YesNoBtn{
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292E;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
}

.YesNoBtn:hover {
  background-color: #d0d2d2;
  text-decoration: none;
  transition-duration: 0.1s;
}

.deleteBtn, .updateBtn{
  height: 9.48vw;
  width: 8vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.deleteBtn{
  border-radius: 0px 10px 10px 0px ;
}

.updateBtn{
  border-left: 0.2px solid #adbc9f99; 
  border-right: 0.2px solid #adbc9f99;
}

.updateBtn:hover, .deleteBtn:hover {
  background-color: #e0e0e0;
  transform: scale(1.01);
}

.icon{
  height: 3.5vw;
}

/* CSS for the scroll bars */
::-webkit-scrollbar {
  width: 4px; 
  z-index: -2;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f114;
}

::-webkit-scrollbar-thumb {
  background-color: #436850; 
  border-radius: 6px; 
}

/* CSS for the Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 2.1px solid #00000016; 
  border-top: 8px solid #12372A;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

/* Spin animation for the loader */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CSS for the delete confirmation */
.confirmation-dialog {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #12372ad4;
  padding: 20px;
  height: 10vw;
  width: 40vw;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #12372a;
  z-index: 999;
  border-radius: 20px;
  
}

.confirmation-dialog p{
  font-size: 30px;
}

.confirmation-dialog button {
  margin: 0 10px;
}



/* Sign Up Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
}


 .rBtn{
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  width: fit-content;
  z-index: 9;
  border: 0;
}

.rBtn:hover {
  background: #00a45b;
}

.SignBtn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
}


.wholeRegisterPage{
  height: 100vh;
  width: 100%;
  background-color: #99ab8a4f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/formBackground.png');
  
}

.userInputFields{
  height: 38px;
  width: 18vw;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 3px 0 3px 10px;
  font-size: 17px;
}

.rHead{
  margin: 0;
  font-size: 3vw
}


.registrationBox{
  background-color: white;
  height: 40vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
}

.already {
  color: black;
}

.WholeLoginContainer{
  height: 100vh;
  width: 100%;
  background-image: url('./assets/formBackground.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 30vw;
  width: 30vw;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
}

.logoutBox{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 15vw;
  width: 20vw;
}

/* .lgOutBtn{
  height: 2.5vw;
  width: 6vw;
  border-radius: 5px;
  border: none;
  background-color: #00BD68;
  color: white;
} */


/* DropDown Page Heading */
.dropHead{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dropMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12372A;
  font-size: 1.3vw;
}

.menu{
  margin: 4px 0  0 8px;
  background-color: #12372A;
  color: white;
  width: 30vw;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.lines{
  height: 0.2px;
  background-color: rgb(181 168 168);
}

.dropComments{
  margin: 2.5vw;
  background-color:#99ab8a;
  padding: 12px 12px 12px 12px;
  border-radius: 0.5vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropMenu h1{
  text-shadow: 0 0 10px rgba(67, 104, 80, 0.418);
}

.comm{
  background-color: white;
  height: 7vw;
  border-radius: 2px;
  display: flex; 
  flex-direction: column;
  margin: 1.2px 0 1.2px 0;
  padding:  0px 0px 28px 17px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 4px -2px, rgba(14, 30, 37, 0.32) 0px 4px 16px -2px;

}

.iconUserName{
  font-weight: bolder;
  font-size: 1.6vw;
}

.usericon{
  height: 3vw;
}

.commLine{
  display: flex;
  align-items: center;
  gap: 10px;
}

.TheComment{
  font-size: 1.2vw;
}



/* Updated comment Popup CSS */

/* UpdateCommentPopup.css */
.update-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-popup {
  background-color: white;
  padding: 20px;
  height: 21vw;
  width: 30vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.update-popup h2 {
  margin-top: 0;
}

.update-popup textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.update-popup button {
  margin-right: 10px;
}

.update-popup button:last-child {
  margin-right: 0;
}
